<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap" rel="stylesheet">
  <!-- Load Vue (development build) -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{ title }}</h1>
    <!-- Input for City -->
    <input v-model="city" placeholder="Input City"><br>
    <button @click="fetchData">Fetch Forecast</button>

    <!-- Once we get a City, return weather, temperature, AQI & advice to the html for next 3 days -->
    <div v-if="forecast.length">
      <h2>Forecast for {{city}}</h2>
      <div class = "forecast" v-for="(day, index) in forecast" :key = "index">
        <!-- Display Weather, Temperature, AQI, as well as advice based on weather, temperature & AQI -->
        <p><strong>Day {{index + 1}}</strong></p>
        <p>{{ day.temp }}°C - {{ day.desc }}</p>
        <img :src="day.iconURL" :alt="day.desc">
        <p><strong>Wind Speed: </strong>{{ day.windSpeed }} m/s</p>
        <p>{{ day.advice }}</p>
        <p>{{ day.tempAdv }}</p>
        <!-- UVI: Unique Feature -->
        <p><strong>UV Index: </strong> {{ day.uvi }} <br> {{ day.uvAdvice }}</p>
        <h2>Air Pollutants</h2>
        <p><strong>AQI: </strong>{{ day.aqi }} <br> {{ day.aqiDesc }}</p>
        <p class = "warning"><strong>WARNING: </strong> {{day.pollutionWarn}} </p>
      </div>
    </div><br><br>

    <!-- Unique Feature, exchange rate on app -->
    <h1>Exchange Rate</h1>
    <p>Input your Base Currency, Target Currency & an Amount</p>

    <!-- Get base, target currency & amount from user, then call API to get the converted amount -->
    <input v-model = "baseCurr" placeholder="Base Currency">
    <input v-model = "targCurr" placeholder="Target Currency"><br>
    <input v-model = "amount" placeholder="Amount"><br>
    <button @click="fetchRate">Get Exchange Rate</button>

    <!-- Display converted currency amount -->
    <div v-if="convAmount !== null">
      <h3>Converted Amount</h3>
      <p>{{ amount }} {{ baseCurr.toUpperCase() }} = {{ convAmount }} {{ targCurr.toUpperCase() }}</p>
    </div>
    
    <pre>{{ apiData }}</pre>
  </div>

  
</body>
<script src="js/app.js"></script>
</html>
