<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="stylesheet" href="css/style.css">
  <!-- Load Vue (development build) -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{ title }}</h1>

    <input v-model="city" placeholder="What city are you headed to?">
    <button @click="fetchData">Fetch Forecast</button>

    <div v-if="forecast.length">
      <h2>Forecast for {{city}}</h2>
      <div class = "forecast" v-for="(day, index) in forecast" :key = "index">
        <p><strong>Day {{index + 1}}</strong></p>
        <p>{{ day.temp }}°C - {{ day.desc }}</p>
        <img :src="day.iconURL" :alt="day.desc">
        <p><em>{{ day.advice }}</em></p>
      </div>
    </div>

    <pre>{{ apiData }}</pre>
  </div>

  
</body>
<script src="js/app.js"></script>
</html>
